<div class="bg">
  <app-navbar></app-navbar>
  <div class="container">
    <mat-drawer-container class="drawer" class="example-container" [hasBackdrop]="false">
      <mat-drawer #drawer [opened]='true' [mode]="'side'" class="side">
        <img src="assets/icons/avatar.png" class="avatar" alt="">
        <h3 class="user">Abhishek Mishra</h3>
        <h2 class="heading">My Account</h2>
      <div class="items">

        <button mat-button class="navButton" color="primary" routerLink='order'><span class="material-icons">
          shopping_basket
          </span>My Orders</button>
        
        <button mat-button class="navButton" color="primary" routerLink='profile'><span class="material-icons">
          account_circle
          </span>Profile Information</button>

        <button mat-button class="navButton" color="primary" routerLink='address'><span class="material-icons">
          where_to_vote
          </span>Manage Address</button>

        <button mat-button class="navButton" color="primary" routerLink='feedback'><span class="material-icons">
          rate_review
          </span>Ratings and Reviews</button>

        <button mat-button class="navButton" color="primary"><span class="material-icons">
          power_settings_new
          </span>LOG OUT</button>
      </div>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <app-footer></app-footer>
</div>
