<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title">
                    About Us
                </div>
                <div class="item">
                    asdasd
                </div>
                <div class="item">
                    assdasd
                </div>
            </div>
            <div class="col">
                <div class="title">
                    About Us
                </div>
                <div class="item">
                    asdasd
                </div>
                <div class="item">
                    assdasd
                </div>
            </div>
            <div class="col">
                <div class="title">
                    About Us
                </div>
                <div class="item">
                    asdasd
                </div>
                <div class="item">
                    assdasd
                </div>
            </div>
        </div>
    </div>
</section>