<section class="bg">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="heading">
            Rent Circle
          </div>
          <div class="sub">
            Bringing lenders & renters together
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col about">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde numquam porro accusantium neque et provident nesciunt quas ut ipsa, natus commodi quia ipsum non iusto, quam modi nisi eos tempore! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ea! Laboriosam pariatur eos, porro voluptatum eligendi commodi nama? Esse nostrum ipsam earum aliquam!
        </div>
      </div>
        <div class="row">
          <div class="col-12 list">
            <div class="item">
              About Us
            </div>
            <div class="item">
              Blogs
            </div>
            <div class="item">
             News
           </div>
            <div class="item">
              Privacy Policy
            </div>
            <div class="item">
              Terms And Conditions
            </div>
          </div>
        </div>
    </div>
</section>
