.section{
  padding: 1rem;
  display: flex;
  height: 25vh;
}

.searchBar{

  font-size: 14px;
  padding-top: 1rem;
  margin: 3rem;
  display: contents;
  width: 59%;
  margin-top: 0.3rem;

    .center {
      margin-left: auto;
      margin-right: auto;
      width: 100% !important;
      padding-left: 3rem;
      mat-form-field {
        width: 90%;
      }
    }
    .searchButton{

      height: 50px;
      width: 100px;
      vertical-align: super;

    }
}
.mat-toolbar {
  color: #525252;
  background-color: #fff;
}

.opaque-form-field {
  width: 62vw !important;
     .mat-form-field-outline {
    background-color: #fff;
  }
}
.example-spacer {
  flex: 1 1 auto;
}
.loc{
  vertical-align: sub;
  font-size: 22px;
  margin-right: 5px;
}

.mat-form-field-appearance-outline {

	.mat-form-field-prefix,
	.mat-form-field-suffix {
		align-self: flex-end;
	}
}

.navButton{
  background-color: #ffffff1f;
  margin: 0 1rem;
}
.bIcon{
  font-size: 17px;
  margin-right: 5px;
}
