<section>
    <div class="container">
    <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="false" [showNavigationIndicators]="false" [showNavigationArrows]='false' (slide)="onSlide($event)">
        <ng-template ngbSlide>
            <mat-card class="example-card slide-in-right slide-out-left">
                <mat-card-content>
                  <div class="row ">
                    <div class="col-6  bg1">
                      <h2>Find The Right Tools with Ease</h2>
                    </div>
                    <div class="col-6">
                      <div class="ad ad1">
                        <button mat-raised-button class="adB" color="primary">Hand Tools</button>
                      </div>
                      <div class="ad ad1">
                        <button mat-raised-button class="adB" color="primary">Power Tools</button>
                      </div>

                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
        </ng-template>
        <ng-template ngbSlide>
          <mat-card class="example-card slide-in-right slide-out-left">
              <mat-card-content>
                <div class="row ">
                  <div class="col-6  bg2">
                    <h2>Find The Right Tools with Ease</h2>
                  </div>
                  <div class="col-6">
                    <div class="ad ad2">
                      <button mat-raised-button class="adB" color="primary">Air Compressors</button>
                    </div>
                    <div class="ad ad2">
                      <button mat-raised-button class="adB" color="primary">Shop Vaccum</button>
                    </div>

                  </div>
                </div>
              </mat-card-content>
            </mat-card>
      </ng-template>
      </ngb-carousel>
    </div>
</section>
