.container{

    max-width: 90%;


    .sideImg{
        width: 100%;
    }

    .title{
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
        margin-top: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .coverText{
        position: absolute;
        font-size: 36px;
        line-height: 3rem;
        font-weight: 900;
        color: #8b008bb0;
        width: 100%;
        text-align: center;
    }
    
    form{
        height: 75vh;
    }


    .mat-form-field {
        width: 100%;
    }

    .but{
        width: 100%;
        height: 50px;
        font-size: 20px;
    }
}