<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 center-block text-center">
                <h2 id="title">Most Popular Reviews</h2>
            </div>
          <div class="col-12">
            <mat-grid-list cols="5" rowHeight="200px">
              <mat-grid-tile
                  *ngFor="let tile of tiles"
                  [colspan]="tile.cols"
                  [rowspan]="tile.rows"
                  [style.background]="tile.color">
                  <a href="https://www.trustpilot.com/" target="_blank">
                    <mat-card class="example-card">
                    <mat-card-header>

                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                        <ng-template #t let-fill="fill">
                          <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                          </span>
                        </ng-template>
                      <ngb-rating [(rate)]="tile.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                      </mat-card-title>
                      <mat-card-subtitle><span style="font-weight: 600;">{{tile.name}}</span> reviewed <span style="font-weight: 600;">{{tile.item}}</span></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="heading"></div>
                      <p style="margin-top: 1rem; font-style: italic;">
                        "The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting."
                      </p>
                    </mat-card-content>
                    </mat-card>
                  </a>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>

    </div>
</section>
