.bg{

    background-image: linear-gradient(180deg,rgba(19,28,37,0),#131c25),url("./../../../assets/images/backgrounds/cityLight.jpg");
    height: 100vh;
    background-size: contain;
    background-position: center;
    width: 100vw;
    overflow-x: hidden;
}
.chat{
  position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
}
.icon{
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
}
.bounce-7 {
  animation-name: floating;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }
}
.chatWindow{

  margin-right: 5rem;
  height: 420px;
  margin-bottom: 3rem;
  border-radius: 14px 14px 0px 14px;

}
.windowIcon{
  height: 85px;
  position: absolute;
  bottom: 0;
  right: 0;
}
