<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-8">
      <mat-card>
        <mat-card-title class="title">My Cart <span class="count">( {{cartItems.length}} items ) </span></mat-card-title>
        <mat-divider class="divider"></mat-divider>
        <mat-card-content>
         <div class="cartItems">
           <div *ngFor="let item of cartItems" class="row item">
             <div class="col-3">
              <img src="./../../../assets/images/category/tools.jpg" class="prodImage" alt="">
             </div>
             <div class="col-5">
               <h3 class="ititle">Power Tool</h3>
               <div class="rating">
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                  </span>
                </ng-template>
              <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
              <h3>$2000 <span class="crossed">$2300</span></h3>
              <div class="picker">
                <button mat-icon-button class="quantButton" aria-label="Increment button" (click)="increment(quant)">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
                <span class="quantity">{{quant}}</span>
                <button mat-icon-button class="quantButton" aria-label="Increment button" (click)="decrement(quant)">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
              </div>
             </div>
             <div class="col-4">
               <h4 class="delivery">Expected delivery by 1st Nov 2020</h4>
               <h4 class="delivery">Return by 1st Dec 2020</h4>
             </div>
           </div>
         </div>
        </mat-card-content>
        <mat-divider class="divider"></mat-divider>
        <mat-card-actions>
          <button mat-button class="but"><span class="material-icons">
            delete_outline
            </span>CLEAR CART</button>
          <button mat-flat-button color="primary" class="but">PROCEED TO CHECKOUT</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card>
        <mat-card-title>Order Summary</mat-card-title>
        <mat-card-content class="summary">
          <div class="row">
            <div class="col-6">
              <h3>Power Tool <span class="subQuant">( ⨉ {{quant}} )</span></h3>
            </div>
            <div class="col-6">
              <h3>
                ${{quant*200}}
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3>
                Delivery Charges
              </h3>
            </div>
            <div class="col-6">
              <h3>
                $20
              </h3>
            </div>
          </div>
          <mat-divider class="divider"></mat-divider>
          <div class="row final">
            <div class="col-6">
              <h2>
                Total Price
              </h2>
            </div>
            <div class="col-6">
              <h2>
                ${{quant*200 + 20}}
              </h2>
            </div>
          </div>
        </mat-card-content>
        <mat-divider class="divider"></mat-divider>
        <mat-card-actions>
          <button mat-button class="but"></button>
          <button mat-flat-button color="primary" class="but">PROCEED TO CHECKOUT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
<app-footer></app-footer>
