.container{
  max-width: 100%;
  padding: 2rem 1rem;

  .title{
    padding-bottom: 1rem;

  }
  .ititle{
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  .count{
    color: darkgrey;
    font-size: 19px;
  }

  .but{
    height: 50px;
    font-size: medium;
    margin: 10px;
    .material-icons{
      vertical-align: sub;
    }
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .cartItems{
    padding-top: 1rem;

    .prodImage{
      width: 100%;
    }
  }

  .summary{
    margin-top: 2rem;
    .final{
      margin-top: 1rem;
    }
  }
  .divider{

  }
  .rating{
    .star {
      position: relative;
      display: inline-block;
      font-size: 1.5rem;
      color: #d3d3d3;
    }
    .full {
      color: #ffd740;
    }
    .half {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: #ffd740;
    }

  }

  .crossed{
    color: lightgrey;
    text-decoration: line-through;
    font-size: small;
  }
  .delivery{
    color: grey;
  }
  .item{
    margin-bottom: 1rem;
  }

  .quantButton{
    vertical-align: sub;
    .mat-icon{
      vertical-align: text-bottom;
    }
  }
  .quantity{
    font-size: 18px;
    margin-top: 30px;
  }

  .subQuant{
    color: grey;
  }
}
